body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background: #6943FF;
    color: #fff;
    padding-bottom: 40px;
    height: 40vh;
    width: 550px;
}

#btn-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

#btn-icon img {
    border: none;
    display: block;
}

.hero h1 {
    padding: 10px;
}

#input-value {
    width: 150px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: none;
    color: #fff;
    text-align: center;
    font-size: 58px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

#convert-btn {
    border: none;
    padding: 10px 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 5px;
}

#btn-reset {
    border: none;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 13px;
    margin-top: 15px;
}

#btn-reset:hover {
    background-color: #f0f0f0;
}

.main {
    height: 550px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    padding-top: 20px;
    font-size: 15px;
}

.main .item {
    border: 1px solid white;
    background-color: #FFFFFF;
    border-top-left-radius: 4.68px;
    padding: 20px 20px;
    width: 80%;
    margin: 20px;
}

.item h2 {
    color: #5A537B;
}

@media only screen and (max-width: 600px) {
    .main .item {
        padding: 30px 15px;
    }
}

/* dark mode */

body.dark-mode {
    background-color: #1F2937;
}
body.dark-mode #main-sec {
    background-color: #1F2937;
    border: 1px solid #CCC1FF;
}

body.dark-mode .item {
    background-color: #273549;
}

body.dark-mode .section-title {
    color: #CCC1FF;
}

body.dark-mode .section-description {
    color: #ffffff;
}

